@import url(http://fonts.googleapis.com/css?family=Raleway);
body {
  font-family: 'Raleway';
  background-color: #336699;
}

header {
  text-align: center;
  padding: 120px 0;
  background: #fff;
  color: #000;
}

.box {
  background-color: #6699cc;
  padding: 50px;
}

h1 {
  font-family: 'Raleway';
  margin: 0 0 15px 0;
  padding: 10;
  padding-top: 15px;
  font-size: 38px;
  color: #ffffff;
}

section .wrap {
  width: 1024px;
  text-align: center;
  margin: 0 auto;
  padding: 120px 0 60px 0;
}

.btn {
  font-weight: bold;
  font-size: 12px;
  letter-spacing: 2px;
  padding: 13px 17px;
  border: none;
  -webkit-border-radius: 2px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 2px;
  -moz-background-clip: padding;
  border-radius: 5px;
  background-clip: padding-box;
  -webkit-transition: color 0.2s linear, background-color 0.2s linear;
  transition: color 0.2s linear, background-color 0.2s linear;
}

.btn.btn-red {
  color: #ffffff;
  background-color: #ff4d4d;
}

.btn.btn-blue {
  color: #ffffff;
  background-color: #66a3ff;
}

.btn.btn-green {
  color: #ffffff;
  background-color: #5cd65c;
}

.btn.btn-orange {
  color: #ffffff;
  background-color: #ffa31a;
}

.btn.btn-black {
  color: #ffffff;
  background-color: #000000;
}

.btn.btn-purple {
  color: #ffffff;
  background-color: #b366ff;
}

.btn.btn-lg {
  font-size: 14px;
  padding: 17px 24px;
}
