<!DOCTYPE html>
   <head>
      <title>Raspberry Pi Webserver</title>
      <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/pi-style.css') }}">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>

   <body>
    <div class="text-center">
      <div class="box">
        <h1>Control Raspberry Pi</h1>
        <div class="wrap">
          <a href="/red/" class="btn btn-red btn-lg">RED</a>
          <a href="/blue/" class="btn btn-blue btn-lg">BLUE</a>
          <a href="/green/" class="btn btn-green btn-lg">GREEN</a>
          <a href="/orange/" class="btn btn-orange btn-lg">ORANGE</a>
          <a href="/purple/" class="btn btn-purple btn-lg">PURPLE</a>
          <a href="/stop/" class="btn btn-black btn-lg">OFF</a>
          <a href="/message/" class="btn btn-black btn-lg">TEXT</a>
        </div>
      </div>
    </div>
   </body>
</html>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
